PORT=5000
MONGODB_URI=mongodb+srv://abdulrafey12389_db_user:KoUm73KXzaYsx83P@cluster0.krchje7.mongodb.net/?retryWrites=true&w=majority

JWT_SECRET=8gw51g94xIcRsl3UQsGf
zK12cGonj76sp6xa

CLOUDINARY_CLOUD_NAME=dmbh958bo
CLOUDINARY_API_KEY=617578746998616
CLOUDINARY_API_SECRET=2NBlCazM8V95p3WxLOSnp59SI8U